h1{
    font-size: 2rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #cf42a5;
    text-align: center;
}
p{
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #000000;
    text-align: justify;
}
h3{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #4e1b91;
}
ul{
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #000000;
    text-align: justify;
}
ol{
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #921d96;
    text-align: justify;
}
ol li :hover{
    color: #000000;
    text-shadow: 5px 5px 5px rgb(1, 131, 218);
}
h4{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #53b48f;
}