 .main-heading{
    font-size: 2rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #cf8242;
    text-align: center;
}
 .cake-names{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #000000;
}
.components{
    font-size: 1rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: hsl(326, 48%, 25%);
    text-shadow: 2px 2px 5px #1bd185;
}
p{
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #000000;
    text-align: justify;
}

.ul-com{
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #000000;
    text-align: justify;
}
.cake-image-1{
   border: 2px solid #000000;
    border-radius: 10px;
    float: right;
    margin-left: 2%;
    margin-right: 2%;
}
.cake-image-2{
   border: 2px solid #000000;
    border-radius: 10px;
    float: right;
    margin-left: 2%;
    margin-right: 2%;
}
.cake-image-3{
   border: 2px solid #000000;
    border-radius: 10px;
    float: right;
    margin-left: 2%;
    margin-right: 2%;
}
.cake-image-4{
   border: 2px solid #000000;
    border-radius: 10px;
    float: right;
    margin-left: 2%;
    margin-right: 2%;
}
.cake-image-5{
   border: 2px solid #000000;
    border-radius: 10px;
    float: right;
    margin-left: 2%;
    margin-right: 2%;
}