body{
    margin: 0;
}
.header-nav{
   background-color: #e716e7;
   height: 80px;
    width: 100%;
   
}
label.logo-1{
    margin-left: 10px;
    padding-left: 10px;
    color: white;
    font-size: 30px;
    line-height: 80px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.header-nav ul{
    float: right;
    margin-right: 20px;
    
}
.fotter-nav ul {
   text-decoration: none;
    
    
    
}

.header-nav ul li{
   display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}

.fotter-nav ul li{
  display: inline-block;
  line-height: 80px;
    margin: 0 5px;


}
.fotter-nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: underline;
}

.header-nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;

}

a.active, a:hover{
    background-color: #000000;
    transition: .5s;

}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/* @media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: 0;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
        
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
} */

nav ul li a:hover{
    /* text-decoration: underline; */
    /* text-decoration-color: chocolate;
 */
    color: rgb(255, 0, 179);
    text-shadow: 2px 3px 5px rgb(0, 0, 0);
}
.header{
    text-align: center;
    color: #000000;
    margin-bottom: 2%;
    margin-top: 2%;


}
#heading-main{
    font-size: 3rem;
    font-weight: 400;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    border: 10px;
    border-color: #6d1a66;
}
#top-para{
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
  
   
}
.heading-section{
    background-color: #9fd8a7;
    border: 10px;
}
.fotter-class{
    text-align: center;
    font-size: small;
    
}   
.sub-heading-2{
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #cc2727;
    font-size: small;
}
.logo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     width: 100px;
        height: 100px;
        border: 2px solid rgb(194, 27, 27);
        border-radius: 12px;
        align-items: center;
        font-size: 80px;
        justify-content: center;
}
.fotter-images-container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5px;
    color: rgb(255, 0, 0);
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: auto;
}

#sub-heading-5{
    font-size: smaller;
    font-weight: 600;
    text-shadow: 5px 5px 5px rgb(255, 79, 79);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #a13c3c;
}
#para-1{
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #000000;
}
.ul-1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(168, 49, 109);
    
   
}
.ul-1 li :hover{
    color: #000000;
    text-shadow: 5px 5px 5px rgb(1, 131, 218);

}
#heading-product{
    text-align: center;
    color: #000000;
    margin-bottom: 2%;
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    text-decoration: solid;
    font-size: 3rem;
}
#sub-heading-3{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #000000;
}
/* .ul-2{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #000000;
} */
 #choco-para{
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #000000;
}
#choco-cakes-para{
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #000000;
}
#choco-gifts-para{
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #000000;
}
#aside{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #a82893;
}
#heading-review{
    text-align: center;
    color: #000000;
    margin-bottom: 2%;
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    text-shadow: 2px 2px 5px #c728c7;
    font-size: 3rem;
}
#sub-heading-3{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #000000;
}
#review-1{
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #000000;
}
#review-2{
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #000000;
}
#review-fotter-1{
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #000000;
}
#review-fotter-2{
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #000000;
}
#heading-interested{
    text-align: center;
    color: #000000;
    margin-bottom: 2%;
    margin-top: 2%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    text-shadow: 2px 2px 5px #c728c7;
    font-size: 3rem;
}
#interested-para{
    font-size: 1rem;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #000000;
}
.last-div{
    text-align: center;
    padding: auto;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    
}
.ul-2 li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: solid;
    color: #883c3c;
}
.sub-heading-5{
    font-size: smaller;
    font-weight: 600;
    text-shadow: 5px 5px 5px rgb(255, 79, 79);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    color: #a13c3c;
}
.img-home-1{
    border: 2px solid rgb(0, 0, 0);
    float: right;
    margin: 1%;
    padding: 1%;
    width: 450px;
    height: 450px;
}
.img-home-2{
    border: 2px solid rgb(0, 0, 0);
    float: right;
    margin: 1%;
    padding: 1%;
    width: 300px;
    height: 400px;
}
.img-home-3{
    border: 2px solid rgb(0, 0, 0);
    float: right;
    margin: 1%;
    padding: 1%;
    width: 450px;
    height: 450px;
}